body {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fce4ec; /* Rosa pastello */
}

#app {
  height: 100vh;
  padding: 20px;
  position: relative;
  overflow-y: scroll;
}

.first-icon, .second-icon {
  position: absolute;
  
}

.first-icon {
  top: calc(50% - 100px);
  left: 400px;
}

.second-icon {
  top: calc(50% - 168px);
  right: 200px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h5, .fa-trash-can {
  color: #ff69b4;
}
h5, p, .fa-trash-can {
  cursor: pointer;
}
.add-task {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #ff69b4;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff94c2;
}
